<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />
    <title>homme</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />

    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/style_about.css" />
    <link rel="stylesheet" href="/static/css/style_playlist.css" />
  </head>

  <body>
    <!-- header starts here -->
    <header class="header">
      <section class="flex">
        <a href="/templates/home.html" class="logo"> Air Learn </a>
        <form action="" method="post" class="search-form">
          <input
            type="text"
            name="search_box"
            placeholder="search courses..."
            required
            maxlength="100"
          />
          <button
            type="submit"
            class="fas fa-search"
            name="search_box"
          ></button>
        </form>

        <div class="icons">
          <div id="menu-btn" class="fas fa-bars"></div>
          <div id="search-btn" class="fas fa-search"></div>
          <div id="user-btn" class="fas fa-user"></div>
          <div id="toggle-btn" class="fas fa-sun"></div>
        </div>

        <div class="profile">
          <img src="/static/images/download.jpg" alt="" />
          <h3>john</h3>
          <span>student</span>
          <a href="profile.html" class="btn">view profile</a>
          <div class="flex-btn">
            <a href="/templates/login.html" class="option-btn">login</a>
            <a href="/templates/register.html" class="option-btn">register</a>
          </div>
        </div>
      </section>
    </header>
    <!-- header ends here -->

    <!-- side bar section starts here -->

    <div class="close-side-bar">
      <i class="fas fa-time"></i>
    </div>

    <div class="side-bar">
      <div class="profile">
        <img src="/static/images/download.jpg" alt="" />
        <h3>GATITO</h3>
        <span>student</span>
        <a href="/templates/profile.html" class="btn">view profile</a>
      </div>

      <nav class="navbar">
        <a href="/templates/home.html">
          <i class="fas fa-home"></i><span>Home</span></a
        >
        <a href="/templates/about.html"
          ><i class="fas fa-question"></i><span>About Us</span></a
        >
        <a href="/templates/courses.html"
          ><i class="fas fa-graduation-cap"></i><span>Courses</span></a
        >
        <a href="/templates/teachers.html"
          ><i class="fas fa-chalkboard-user"></i><span>Teachers</span></a
        >
        <a href="/templates/contact.html"
          ><i class="fas fa-headset"></i><span> Contact </span></a
        >
      </nav>
    </div>

    <!-- side bar section starts here -->

    <!-- abouts starts here -->

    <section class="about">
      <div class="row">
        <div class="image">
          <img src="/static/images/download2.jpg" alt="" />
        </div>

        <div class="content">
          <h3>why choose us?</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipiscing elit. Aliquam
            velit expedita dolorem ut la
          </p>
          <a href="/templates/courses.html" class="inline-btn"> our courses</a>
        </div>
      </div>

      <div class="box-container">
        <div class="box">
          <i class="fas fa-graduation-cap"></i>
          <div>
            <h3>+10k</h3>
            <span>online courses</span>
          </div>
        </div>

        <div class="box">
          <i class="fas fa-user-graduate"></i>
          <div>
            <h3>+25k</h3>
            <span>brilliants students</span>
          </div>
        </div>

        <div class="box">
          <i class="fas fa-chalkboard-user"></i>
          <div>
            <h3>+5k%</h3>
            <span>expert teachers</span>
          </div>
        </div>

        <div class="box">
          <i class="fas fa-briefcase"></i>
          <div>
            <h3>100%</h3>
            <span>job placement</span>
          </div>
        </div>
      </div>
    </section>
    <!--about section ends-->

    <!--reviews section starts-->

    <section class="review">
      <h1 class="heading">student's reviews</h1>

      <div class="box-container">
        <div class="box">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            diam urna, molestie et porta a, pretium eu purus. Mauris ut diam
            sodales, pharetra magna eu, laoreet nisi. Fusce aliquam aliquam
            tincidunt. Sed elit lacus, feugiat id arcu maximus, tempor volutpat
            orci. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            Mauris et mollis quam. Vivamus vehicula aliquam vestibulum. Aenean
            scelerisque ut sem in posuere. Duis eu eros in orci fermentum
            interdum ornare condimentum dolor. Fusce at lacus metus. Duis
            dignissim tortor ut ornare sagittis. Aliquam posuere erat est,
            placerat consequat odio viverra vitae.
          </p>
          <div class="user">
            <img src="" alt="" />
            <div>
              <h3>john deo</h3>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="box">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            diam urna, molestie et porta a, pretium eu purus. Mauris ut diam
            sodales, pharetra magna eu, laoreet nisi. Fusce aliquam aliquam
            tincidunt. Sed elit lacus, feugiat id arcu maximus, tempor volutpat
            orci. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            Mauris et mollis quam. Vivamus vehicula aliquam vestibulum. Aenean
            scelerisque ut sem in posuere. Duis eu eros in orci fermentum
            interdum ornare condimentum dolor. Fusce at lacus metus. Duis
            dignissim tortor ut ornare sagittis. Aliquam posuere erat est,
            placerat consequat odio viverra vitae.
          </p>
          <div class="user">
            <img src="" alt="" />
            <div>
              <h3>john deo</h3>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="box">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            diam urna, molestie et porta a, pretium eu purus. Mauris ut diam
            sodales, pharetra magna eu, laoreet nisi. Fusce aliquam aliquam
            tincidunt. Sed elit lacus, feugiat id arcu maximus, tempor volutpat
            orci. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            Mauris et mollis quam. Vivamus vehicula aliquam vestibulum. Aenean
            scelerisque ut sem in posuere. Duis eu eros in orci fermentum
            interdum ornare condimentum dolor. Fusce at lacus metus. Duis
            dignissim tortor ut ornare sagittis. Aliquam posuere erat est,
            placerat consequat odio viverra vitae.
          </p>
          <div class="user">
            <img src="" alt="" />
            <div>
              <h3>john deo</h3>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="box">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            diam urna, molestie et porta a, pretium eu purus. Mauris ut diam
            sodales, pharetra magna eu, laoreet nisi. Fusce aliquam aliquam
            tincidunt. Sed elit lacus, feugiat id arcu maximus, tempor volutpat
            orci. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            Mauris et mollis quam. Vivamus vehicula aliquam vestibulum. Aenean
            scelerisque ut sem in posuere. Duis eu eros in orci fermentum
            interdum ornare condimentum dolor. Fusce at lacus metus. Duis
            dignissim tortor ut ornare sagittis. Aliquam posuere erat est,
            placerat consequat odio viverra vitae.
          </p>
          <div class="user">
            <img src="" alt="" />
            <div>
              <h3>john deo</h3>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="box">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            diam urna, molestie et porta a, pretium eu purus. Mauris ut diam
            sodales, pharetra magna eu, laoreet nisi. Fusce aliquam aliquam
            tincidunt. Sed elit lacus, feugiat id arcu maximus, tempor volutpat
            orci. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            Mauris et mollis quam. Vivamus vehicula aliquam vestibulum. Aenean
            scelerisque ut sem in posuere. Duis eu eros in orci fermentum
            interdum ornare condimentum dolor. Fusce at lacus metus. Duis
            dignissim tortor ut ornare sagittis. Aliquam posuere erat est,
            placerat consequat odio viverra vitae.
          </p>
          <div class="user">
            <img src="" alt="" />
            <div>
              <h3>john deo</h3>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--reviews section ends-->

    <!-- footer session starts here -->

    <footer class="footer">
      &copy; copyrights @ 2023 by <span> Boanc Ionut </span> | All rights are
      reserved !
    </footer>

    <!-- footer session ends here -->

    <!-- custom js file link -->
    <script src="/static/js/script.js"></script>
  </body>
</html>
