<!DOCTYPE html>
<html>
    <head></head>




    <body>
    <section class="quick-select" >
        <h1 class="heading">quick options </h1>

        <div class="box-container">

            <div class="box">
                <h3 class="title"> likes and comments</h3>
                <p> total likes:<span>14</span></p>
                <a href="#" class="inline-btn">view likes</a>
                <p> total comments:<span>5</span></p>
                <a href="#" class="inline-btn">view comments</a>
                <p> total playlist:<span>3</span></p>
                <a href="#" class="inline-btn">view playlists</a>
            </div>

            <div class="box">
                <h3 class="title"> likes and comments</h3>
                <div class="flex">
                    <a href="#"><i class="fas fa-code"></i><span>development</span></a>
                    <a href="#"><i class="fas fa-chart-simple"></i><span>business</span></a>
                    <a href="#"><i class="fas fa-pen"></i><span>design</span></a>
                    <a href="#"><i class="fas fa-chart-line"></i><span>marketing</span></a>
                    <a href="#"><i class="fas fa-music"></i><span>music</span></a>
                    <a href="#"><i class="fas fa-camera"></i><span>photogra</span></a>

                
                
                
                </div>
            </div>

            <div class="box tutor">
                <h3 class="title"> become a tutor</h3>
                <p> Lorem ipsum dolar sit amet consectetur adipisicing elit.Accusantium sunt, nulla voluptatum quas mollitia sint. </p>
                <a href="register.html" class="inline-btn"> get started</a>
               
            </div>

        </div>

    </section>
    </body>
</html>






