<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />
    <title>homme</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />

    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/style_about.css" />
    <link rel="stylesheet" href="/static/css/style_playlist.css" />
  </head>

  <body>
    <!-- header starts here -->
    <header class="header">
      <section class="flex">
        <a href="/templates/home.html" class="logo"> Air Learn </a>
        <form action="" method="post" class="search-form">
          <input
            type="text"
            name="search_box"
            placeholder="search courses..."
            required
            maxlength="100"
          />
          <button
            type="submit"
            class="fas fa-search"
            name="search_box"
          ></button>
        </form>

        <div class="icons">
          <div id="menu-btn" class="fas fa-bars"></div>
          <div id="search-btn" class="fas fa-search"></div>
          <div id="user-btn" class="fas fa-user"></div>
          <div id="toggle-btn" class="fas fa-sun"></div>
        </div>

        <div class="profile">
          <img src="/static/images/student.jpg" alt="" />
          <h3>Stoian Mihnea</h3>
          <span>student</span>
          <a href="profile.html" class="btn">view profile</a>
          <div class="flex-btn">
            <a href="/templates/login.html" class="option-btn">login</a>
            <a href="/templates/register.html" class="option-btn">register</a>
          </div>
        </div>
      </section>
    </header>
    <!-- header ends here -->

    <!-- side bar section starts here -->

    <div class="close-side-bar">
      <i class="fas fa-time"></i>
    </div>

    <div class="side-bar">
      <div class="profile">
        <img src="/static/images/student.jpg" alt="" />
        <h3>Stoian Mihnea</h3>
        <span>student</span>
        <a href="/templates/profile.html" class="btn">view profile</a>
      </div>

      <nav class="navbar">
        <a href="/templates/home.html">
          <i class="fas fa-home"></i><span>Home</span></a
        >
        <a href="/templates/about.html"
          ><i class="fas fa-question"></i><span>About Us</span></a
        >
        <a href="/templates/courses.html"
          ><i class="fas fa-graduation-cap"></i><span>Courses</span></a
        >
        <a href="/templates/teachers.html"
          ><i class="fas fa-chalkboard-user"></i><span>Teachers</span></a
        >
        <a href="/templates/contact.html"
          ><i class="fas fa-headset"></i><span> Contact </span></a
        >
      </nav>
    </div>

    <!-- side bar section starts here -->

    <!-- contacts start here -->

    <section class="contact">
      <div class="row">
        <div class="image">
          <img src="/static/images/upload.jpg" alt="" />
        </div>

        <form action="" method="post">
          <h3>Name for the uploaded document</h3>
          <input
            type="text"
            placeholder=" name of document..."
            required
            maxlength="100"
            name="name_document"
            class="box"
          />
          <h3>Type of the video/lms</h3>
          <label for="videoUpload" class="upload-btn">
            <span class="upload-btn-text">Upload Video</span>
            <input type="file" id="videoUpload" accept="video/*" name="video_filename">
          </label>
          <h3>Upload the PDF</h3>
          <label for="pdfUpload" class="upload-btn">
            <span class="upload-btn-text">Upload PDF</span>
            <input type="file" id="pdfUpload" accept=".pdf,application/pdf" name="pdf_filename">
          </label>
          <div class="xes">
          <input
            type="submit"
            value="Upload"
            class="inline-btn"
            name="submit_document"
          />
        </div>
        </form>
      </div>
      </div>
    </section>

    <!-- contacts ends here -->

    <!-- footer session starts here -->

    <footer class="footer">
      &copy; copyrights @ 2023 by <span> Boanc Ionut </span> | All rights are
      reserved !
    </footer>

    <!-- footer session ends here -->

    <!-- custom js file link -->
    <script src="/static/js/script.js"></script>
  </body>
</html>
